* {
	font-family: Arial, Helvetica, Sans-Serif;
	margin: 0;
	padding: 0;
}

html {}

body {
	background-color: #ffffff;
	color: #514f4f;
    font-size: 10pt;
	line-height: 14pt;
	margin: 10pt;
	padding: 0;
	position: relative;
}

h1, h2, h3, h4, h5, h6, h7 {
 
}

h1 {
	border-bottom: 1px solid #514f4f;
	font-size: 20pt;
	line-height: 28pt;
	margin: 14px 0 0;
}

h2 {
	border-bottom: 1px solid #ededed;
	font-size: 14pt;
	line-height: 14pt;
	margin: 20px 0 8px;
}

h3 {
	font-size: 12pt;
	line-height: 14pt;
	margin: 10px 0 4px;
}

h4 {
	font-size: 10pt;
	line-height: 14pt;
	margin: 10px 0 4px;
}

ol, ul {
	list-style-position: outside;
	margin-left: 40px;
}

.wiki-toc h2 {
	color: #eeeeee; 
	font-size: 100%;
	font-weight: 600;
    margin-left: 0;
	margin-top: 20pt;
	padding: 10pt 10pt 4pt;
}

.wiki-toc h4 {
	font-style: italic;
}

p {
	margin: 7pt 0;
}

a, a:active, a:visited {
	color: #ee6b24;
    text-decoration: none;
}

a:hover {
	color: #ffbd00;
	text-decoration: underline;
}

a.missing:link, a.missing:visited, a.missing, span.missing, a.forbidden, span.forbidden {
    background: red;
    color: white;
}

a.missing:hover {
    background: none;
    color: #ffbd00;
}

a.ext-link .icon {
	background: url(extlink.jpg) center center no-repeat;
	padding-left: 20pt;
}

a.mail-link .icon {
	background: url(envelope.jpg) center center no-repeat;
	padding-left: 14pt;
}

img.user-manual-background-image {
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index:-1;
} 

#header {
	font-size: x-large;
	font-style: oblique;
	font-weight: bold;
	padding-top: 10pt;
	text-align: center;
	vertical-align: middle;
}

#footer {
	font-size: x-small;
	font-style: italic;
	padding-bottom: 4pt;  
	text-align: center;
	vertical-align: middle;
}
  
table.wiki {
	border: 1pt solid #ccc;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 10pt;
	margin: 10pt;
	padding: 4pt 10pt 4pt 10pt;
}

body.pdfexport table.wiki {
    width: 100%;
}

table.wiki td {
    border: 1pt solid #ccc;  padding: .1em .25em;
}

table.wiki th {
	background-color: #f7f7f7;
	border: 1pt solid #bbb;
	padding: .1em .25em;
}

tt {
    background: #fafafa;
    border: 1px solid #edc;
    border-radius: .25em;
    color: #600;
    padding: 0 0.3em;
}

pre.wiki, pre.literal-block {
	background: #f7f7f7;
	border: 1pt solid #d7d7d7;
    font-family: monospace;
	margin: 1em 1.75em;
	overflow: auto;
	padding: .25em;
}

div.ventuz-node-summary table.wiki {
	border: 0pt;
	border-bottom: 2pt solid #AAAAAA;
	border-collapse: collapse;
	border-top: 2pt solid #AAAAAA;
	font-size: 12pt;
	margin: 0em;
	padding: 0;
	width: 100%;
}

div.ventuz-node-summary table.wiki td {
    border: 0pt;
}

span.usermanual-keyboard {
	background: #222222;
	border-color: #aaaaaa #666666 #444444 #888888;
	border-style: solid;
	border-width: 2pt;
	color: #ffffff;
	font-size: 8pt;
	padding: 0 2pt;
	position: relative;
	top: -1pt;
	white-space: nowrap;
}

span.usermanual-mouse {
	color: #000000;
	font-family: microsoft sans serif, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    padding: 0 1pt;
    position: relative;
    white-space: nowrap;
}

span.usermanual-mouse.usermanual-mouse-button {
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    padding: 0;
    width: 16px;
}

span.usermanual-mouse.usermanual-mouse-button.lmb {
    background-image: url(usermanual_lmb.png);
}

span.usermanual-mouse.usermanual-mouse-button.mmb {
    background-image: url(usermanual_mmb.png);
}

span.usermanual-mouse.usermanual-mouse-button.rmb {
    background-image: url(usermanual_rmb.png);
}

div.usermanual-see-also {
	border: 0pt;
	border-collapse: collapse;
	border-top: 1pt solid gray;
	font-style: italic;
	font-weight: bold;
	margin: 0pt;
	min-height: 20pt;
	padding: 10pt;
}

ul.usermanual-see-also {
	font-style: normal;
	font-weight: normal;
}                                

.usermanual-underconstruction, .usermanual-internalpage, .usermanual-internalnote {
	background-color: #FFDD77;
	background-position: 20pt 50%;
	background-repeat: no-repeat;
	border: 1pt solid #EEAA00;
	border-collapse: collapse;
	font-style: oblique;
	font-weight: bold;
	margin: 2em;
	min-height: 20pt;
	padding: 15pt 20pt 15pt 80pt;
	text-align: center;
	vertical-align: middle;               
}

.usermanual-underconstruction {
	margin: 2em;
	background-image: url(underconstruction.png);
}

div.usermanual-todo {
	background-color:#FFDD77;
	border: 1pt solid #EEAA00;
	border-collapse: collapse;
	border-radius: 20pt;
	font-size:small;
	font-style:italic;
	font-weight:bold;
	float: right;
	margin: 20pt;
	min-height: 20pt;
	padding: 10pt 10pt 10pt 20pt;
	text-align: justify;
	vertical-align: middle;  
}

div.usermanual-todo li {
  font-style:normal;
  font-weight:normal;
}

/* COLLAPSIBLE */

.usermanual-collapsible {
    border: 1px solid grey;
    margin: 16px 0 16px 8px;
    padding: 10px 5px;
    position: relative;
}

.usermanual-collapsible::before {
    border: 8px solid transparent;
    border-top-color: #f55b09;
    content: "";
    cursor: pointer;
    left: -9px;
    position: absolute;
    top: -4px;
}

.usermanual-collapsible.collapsed::before {
    border-top-color: transparent;
    border-left-color: #f55b09;
    left: -1px;
    top: -9px;
}

.usermanual-collapsible.collapsed {
    padding: 0;
}

.usermanual-collapsible-title {
    background-color: white;
    border: 1px solid gray;
    height: 16px;
    left: 10px;
    padding: 0 3px;
    position: absolute;
    top: -10px;
}

.usermanual-collapsible.collapsed > .usermanual-collapsible-content {
    display: none;
}

/* remove hidden content for printing */
@media print {
    .usermanual-collapsible {
        margin-left: 0 !important;
        padding: 5px !important;
    }    
    .usermanual-collapsible::before {
        display: none !important;
    }
    .usermanual-collapsible-content
    {
        display: block !important;
    }
}

/* COLLAPSIBLE end */

/*
  Settings taken from Notebox plug-in for support during export.
  */

.noteboxbase, .noteboxwarn, .noteboxnote, .noteboxtip {
  background-position: 10pt 50%;
  background-repeat: no-repeat;
  border-collapse: collapse;
  font-size: 12pt;
  margin: 1em;
  min-height: 40pt;
  padding: 10pt 20pt 10pt 70pt;
  text-align: justify;
  vertical-align: middle;
}
 
.noteboxwarn {
  background-color: #c8c8c8; 
  border: 1pt solid #393535;
  background-image: url(usermanual_warning.png);
}

.noteboxtip {
  background-color: #c8c8c8; 
  background-image: url(usermanual_tip.png);
  border: none;
}
.noteboxnote {
  background-color: #c8c8c8; 
  background-image: url(usermanual_note.png);
  border: 1pt solid #9a9a9a;                            
}

/* syntax highlighting */

div.code pre  { background: #f8f8f8;  border:1pt solid #9a9a9a; padding:10pt;margin:20pt;  }
div.code pre .hll { background-color: #ffffcc;}
div.code pre .c { color: #008000 } /* Comment */
div.code pre .err { border: 1pt solid #FF0000 } /* Error */
div.code pre .k { color: #0000ff } /* Keyword */
div.code pre .cm { color: #008000 } /* Comment.Multiline */
div.code pre .cp { color: #0000ff } /* Comment.Preproc */
div.code pre .c1 { color: #008000 } /* Comment.Single */
div.code pre .cs { color: #008000 } /* Comment.Special */
div.code pre .ge { font-style: italic } /* Generic.Emph */
div.code pre .gh { font-weight: bold } /* Generic.Heading */
div.code pre .gp { font-weight: bold } /* Generic.Prompt */
div.code pre .gs { font-weight: bold } /* Generic.Strong */
div.code pre .gu { font-weight: bold } /* Generic.Subheading */
div.code pre .kc { color: #0000ff } /* Keyword.Constant */
div.code pre .kd { color: #0000ff } /* Keyword.Declaration */
div.code pre .kn { color: #0000ff } /* Keyword.Namespace */
div.code pre .kp { color: #0000ff } /* Keyword.Pseudo */
div.code pre .kr { color: #0000ff } /* Keyword.Reserved */
div.code pre .kt { color: #2b91af } /* Keyword.Type */
div.code pre .s { color: #a31515 } /* Literal.String */
div.code pre .nc { color: #2b91af } /* Name.Class */
div.code pre .ow { color: #0000ff } /* Operator.Word */
div.code pre .sb { color: #a31515 } /* Literal.String.Backtick */
div.code pre .sc { color: #a31515 } /* Literal.String.Char */
div.code pre .sd { color: #a31515 } /* Literal.String.Doc */
div.code pre .s2 { color: #a31515 } /* Literal.String.Double */
div.code pre .se { color: #a31515 } /* Literal.String.Escape */
div.code pre .sh { color: #a31515 } /* Literal.String.Heredoc */
div.code pre .si { color: #a31515 } /* Literal.String.Interpol */
div.code pre .sx { color: #a31515 } /* Literal.String.Other */
div.code pre .sr { color: #a31515 } /* Literal.String.Regex */
div.code pre .s1 { color: #a31515 } /* Literal.String.Single */
div.code pre .ss { color: #a31515 } /* Literal.String.Symbol */

table.code td .hll { background-color: #ffffcc }
table.code td  { background: #ffffff; }
table.code td .c { color: #008000 } /* Comment */
table.code td .err { border: 1pt solid #FF0000 } /* Error */
table.code td .k { color: #0000ff } /* Keyword */
table.code td .cm { color: #008000 } /* Comment.Multiline */
table.code td .cp { color: #0000ff } /* Comment.Preproc */
table.code td .c1 { color: #008000 } /* Comment.Single */
table.code td .cs { color: #008000 } /* Comment.Special */
table.code td .ge { font-style: italic } /* Generic.Emph */
table.code td .gh { font-weight: bold } /* Generic.Heading */
table.code td .gp { font-weight: bold } /* Generic.Prompt */
table.code td .gs { font-weight: bold } /* Generic.Strong */
table.code td .gu { font-weight: bold } /* Generic.Subheading */
table.code td .kc { color: #0000ff } /* Keyword.Constant */
table.code td .kd { color: #0000ff } /* Keyword.Declaration */
table.code td .kn { color: #0000ff } /* Keyword.Namespace */
table.code td .kp { color: #0000ff } /* Keyword.Pseudo */
table.code td .kr { color: #0000ff } /* Keyword.Reserved */
table.code td .kt { color: #2b91af } /* Keyword.Type */
table.code td .s { color: #a31515 } /* Literal.String */
table.code td .nc { color: #2b91af } /* Name.Class */
table.code td .ow { color: #0000ff } /* Operator.Word */
table.code td .sb { color: #a31515 } /* Literal.String.Backtick */
table.code td .sc { color: #a31515 } /* Literal.String.Char */
table.code td .sd { color: #a31515 } /* Literal.String.Doc */
table.code td .s2 { color: #a31515 } /* Literal.String.Double */
table.code td .se { color: #a31515 } /* Literal.String.Escape */
table.code td .sh { color: #a31515 } /* Literal.String.Heredoc */
table.code td .si { color: #a31515 } /* Literal.String.Interpol */
table.code td .sx { color: #a31515 } /* Literal.String.Other */
table.code td .sr { color: #a31515 } /* Literal.String.Regex */
table.code td .s1 { color: #a31515 } /* Literal.String.Single */
table.code td .ss { color: #a31515 } /* Literal.String.Symbol */


#user-manual-content.sidebar {
    margin-left: 320px;
}

#sidebar, #navigation {
    top: 0;
    left: 0;
    overflow: auto;
    overflow-x: hidden;
}

#sidebar {
    background-color: #d9d1c9;
    color: #000;
    float: left;
    height: 100%;
	position: fixed;
    width: 300px;
}

#navigation {
    position: relative;
}

#sidebar a, #sidebar a:hover, #sidebar a:active #sidebar a:visited {
    color: #5f5f5f;
    text-decoration: none;
}

#sidebar a.current {
    font-weight: bold;
}

#sidebar h1, #sidebar h2, #sidebar h3 {
	height: 28pt;
	white-space: nowrap;
	line-height: 28pt;
	font-size: 10pt;
	margin: 0;
	padding: 0 0 0 25px;
	position: relative;
	border-bottom: 1px solid #b8b1aa;
}

#sidebar h1 {
	display: none;
	/*font-size: 20px;
	margin: 0 0 10px 0;
	padding: 5px 0 5px 10px;
	white-space: nowrap;*/
}

#sidebar h2 {
}

#sidebar h3 {
}

#sidebar h3.ui-accordion-header.ui-state-hover,
#sidebar h3.ui-accordion-header.ui-state-active {
    background: none #13cbea;
    cursor: pointer;
}

#sidebar span.ui-accordion-header-icon.ui-icon {
    height: 16px;
    left: 6px;
    position: absolute;
    top: 11px;
	width: 16px;
}

#sidebar span.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-e {
	background: transparent url(list_closed.png) 0 0 no-repeat;
}

#sidebar span.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-s {
	background: transparent url(list_open.png) 0 0 no-repeat;
}

#sidebar div.ui-accordion-content {
	line-height: 20pt;
}

#sidebar ul, #sidebar ol {
	list-style-type: none;
	margin-left: 0;
}

#sidebar .list-label {
    font-style: italic;
}
    
#sidebar .list-label {
	display: inline-block;
	width: 100%;
}

#sidebar .list-item, #sidebar .list-label {
	margin-left: 0px;
}

#sidebar .list-item, #sidebar .list-label {
    border-bottom: 1px solid #b8b1aa;
}

#sidebar .list-label.list-level-1 {
	padding-left: 20px;
}

#sidebar .list-label.list-level-2 {
	padding-left: 40px;
}

#sidebar .list-label.list-level-3 {
	padding-left: 60px;
}

#sidebar .list-label.list-level-4 {
	padding-left: 80px;
}

#sidebar .list-label.list-level-5 {
	padding-left: 100px;
}

#sidebar .list-label.list-level-6 {
	padding-left: 120px;
}

#sidebar .list-level-1 a {
	padding-left: 40px;
}

#sidebar .list-level-2 a {
	padding-left: 60px;
}

#sidebar .list-level-3 a {
	padding-left: 80px;
}

#sidebar .list-level-4 a {
	padding-left: 100px;
}

#sidebar .list-level-5 a {
	padding-left: 120px;
}

#sidebar .list-level-6 a {
	padding-left: 140px;
}

#sidebar li {
    overflow: hidden;
    white-space: nowrap;
}
#sidebar li:hover {
    background: #eae3dc;
}

#sidebar li a {
    font-size: 10pt;
}

#sidebar li.current {
	background-color: #ffffff;
}

.control {
	position: relative;
    text-align: center;
}

.control-prev {	
    left: 0;
    position: absolute;
    top: 0;
}

.control-next {
    position: absolute;
    right: 0;
    top: 0;
}
